.verticalPanelButton {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAABxSURBVDhPtZALCsAgDEN197/y1pmxSNppkYGBUPt5BVsWVCfussTXwKh3uUS0VN8Kuz82pTBzjbpgCuOtECPMBaw/wgXR4CU5GOuac5FLOBjhODOEIYUQzzdSKUwt1bfBRzN66g/MK0ejN3ItZvbTVm4fPnmHX4B/KAAAAABJRU5ErkJggg==);
}

.horizontalPanelButton {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAABRSURBVDhPrYxJDgAgCAP5/6c1HDAsgkWdpIcCA/1gXGRhCgAkQ/PdEc8knlLWokRjul+eCHI3C1MASlm+62hM90smE5mjzEDz7CgjyN28QDQBqmNMtHzbu5oAAAAASUVORK5CYII=);
}
