html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

.wcDisableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wcDocker {
  position: absolute;
}

.wcFrame {
  border: 2px inset black;
  position: relative;
}

.wcFrame .wcLayout {
  background-color: gray;
}

.wcFrame .wcCenter {
  background-color: transparent;
}

.wcFrameFlasher {
  border: 0px;
  margin: 0px;
  padding: 0px;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  opacity: 0;
  background-color: white;
}

.wcFrameTitle {
  padding-left: 3px;
  height: 21px;
  background-color: darkgray;
  cursor: move;
  text-align: center;
  overflow: hidden;
}

/*.wcFloating .wcFrameTitle {
  background-color: #555;
}*/

.wcFrameCloseButton, .wcFrameDockButton {
  width: 17px;
  height: 17px;
  top: 0px;
  right: 0px;
  position: absolute;
  border: 2px outset #444444;
  font-size: 16px;
  cursor: pointer;
  text-align: center;

  background-color: #555555;
}

.wcFrameDockButton {
  left: 0px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAWdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjA76PVpAAAAT0lEQVQ4T92M0QoAIAgD/f+fLoQCXbMie6mDI1I3+ZPS3hRagkV9hobgkf0zKexw5QA7UpHZzi2tjHBngygSzV2I2WGzbWz4WskR6YJnEKl90FGvuLJ7ogAAAABJRU5ErkJggg==);
}

.wcFrameCloseButton:hover, .wcFrameDockButton:hover {
  border: 2px outset #666666;
  background-color: #686868;
}

.wcFrameCloseButton:active,
.wcFrameDockButton:active,
.wcFrameDockButtonLocked {
  border: 2px inset #AAAAAA;
  background-color: #888888;
}

.wcFrameDockButtonLocked:hover {
  border: 2px inset #AAAAAA;
  background-color: #707070;
}

.wcFrameDockButtonLocked:active {
  border: 2px inset #AAAAAA;
  background-color: #888888;
}

.wcFrameCenter {
  overflow: hidden;
  position: absolute;
  top: 21px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.wcFloating {
  position: fixed;
  z-index: 2;
}

.wcLayout, .wcLayout tr, .wcLayout td {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

.wcLayout {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}

.wcLayoutGrid, .wcLayoutGrid tr, .wcLayoutGrid td {
  border: 1px dashed #555555;
}

.wcFrameEdgeV {
  width: 2px;
  cursor: e-resize;
  z-index: 2;
  position: absolute;
  border: 2px outset #444;
  border-top: 0px;
  border-bottom: 0px;
  background-color: #222;
}

.wcFrameEdgeH {
  height: 2px;
  cursor: s-resize;
  z-index: 2;
  position: absolute;
  border: 2px outset #444;
  border-left: 0px;
  border-right: 0px;
  background-color: #222;
}

.wcFrameCornerNW {
  height: 2px;
  width: 2px;
  cursor: nw-resize;
  z-index: 2;
  position: absolute;
  border: 2px outset #444;
  background-color: #222;
}

.wcFrameCornerNE {
  height: 2px;
  width: 2px;
  cursor: ne-resize;
  z-index: 2;
  position: absolute;
  border: 2px outset #444;
  background-color: #222;
}

.wcWide {
  width: 100%;
}

.wcTall {
  height: 100%;
}

.wcSplitterBar {
  position: absolute;
  border: 1px outset darkgray;
  background-color: gray;
}

.wcSplitterBarV {
  border-top: 1px solid gray;
  border-bottom: 2px solid gray;
  width: 2px;
  cursor: e-resize;
  z-index: 2;
}

.wcSplitterBarH {
  border-left: 1px solid gray;
  border-right: 2px solid gray;
  height: 2px;
  cursor: s-resize;
  z-index: 2;
}

.wcLayoutPane {
  border: 0px;
  margin: 0px;
  padding: 0px;

  display: inline-block;
  position: absolute;
}

ul.wcPanelTab {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
  border-bottom: 1px solid black;
}

ul.wcPanelTab li {
  display: inline;
}

ul.wcPanelTab li a {
  color: #42454a;
  background-color: #AAA;
  border: 2px solid #555;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  padding-bottom: 1px;
  text-decoration: none;
}

ul.wcPanelTab li a:hover {
  background-color: #f1f0ee;
}

ul.wcPanelTab li a.wcPanelTabActive {
  color: #000;
  background-color: #888;
  font-weight: bold;
  padding-bottom: 20px;
  /*padding: 0.7em 0.3em 0.38em 0.3em;*/
}

div.wcPanelTabContent {
}

div.wcPanelTabContent.wcPanelTabContentHidden {
  display: none;
}

.wcGhost {
  opacity: 0.0;
  background-color: #444444;
  position: fixed;
  border: 0px;
  border-radius: 10px;
  z-index: 100;
}

.wcScrollableX {
  overflow-x: auto;
}

.wcScrollableY {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: gray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
}

::-webkit-scrollbar-corner {
  background-color: gray;
}