.wcPanelBackground {
  background-color: #A55;
}

.wcPanelBackground .wcCenter {
  background-color: #733;
}

.wcFrameFlasher {
  background-color: red;
}

.wcFrameShadower {
  background-color: black;
}

.wcFrameTitle {
  padding-left: 3px;
  height: 20px;
  background-color: #822;
  text-align: left;
}

.wcFrameCenter {
  top: 20px;
}

.wcFrameCloseButton {
  width: 16px;
  height: 16px;
  border: 2px outset #411;
  background-color: #522;
  font-size: 15px;
}

.wcFrameCloseButton:hover {
  border: 2px outset #633;
  background-color: #684040;
}

.wcFrameCloseButton:active {
  border: 2px inset #A55;
  background-color: #822;
}

.wcLayoutGrid, .wcLayoutGrid tr, .wcLayoutGrid td {
  border: 1px solid #555555;
}

.wcLayoutGridAlternate tr:nth-child(even) {
  background-color: rgba(200, 150, 150, 0.4);
}

.wcFrameEdge {
  position: absolute;
  z-index: 2;
  border: 2px outset #411;
  background-color: #200;
}

.wcSplitterBar {
  border: 1px outset #833;
  background-color: #411;
}

.wcPanelTab {
  color: #42454a;
  background-color: #AA7070;
  border: 1px solid #511;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
  margin-right: 1px;
  margin-top: 5px;
  font-size: 15px;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  -o-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
}

.wcPanelTab:hover {
  background-color: #AA8080;
}

.wcPanelTabActive {
  color: #000;
  background-color: #A55;
  font-weight: bold;
  margin-top: 1px;
}

.wcPanelTabActive:hover {
  background-color: #C66;
}

.wcGhost {
  background-color: #411;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #A55;
}

::-webkit-scrollbar-corner {
  background-color: #A55;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
}

.context-menu-list {
  border: 1px solid #A44;
}

.context-menu-item {
  background-color: #622;
}

.context-menu-item.hover {
  background-color: #411;
}

.context-menu-item.disabled {
  color: #311;
}

.context-menu-separator {
  border-bottom: 2px solid #833;
}

input {
  background-color: #C88;
}

select {
  background-color: #C88;
}

button {
  background-color: #C88;
}
