body {
  color: gray;
}

.wcPanelBackground {
  background-color: #000;
}

.wcPanelBackground .wcCenter {
  background-color: #111;
}

.wcFrameFlasher {
  background-color: #555;
}

.wcFrameShadower {
  background-color: #555;
}

.wcFrameTitle {
  padding-left: 3px;
  height: 20px;
  background-color: #111;
  text-align: left;
}

.wcFrameCenter {
  top: 20px;
}

.wcFrameCloseButton {
  width: 16px;
  height: 16px;
  border: 2px outset #222;
  background-color: #111;
  font-size: 15px;
}

.wcFrameCloseButton:hover {
  border: 2px outset #333;
  background-color: #222;
}

.wcFrameCloseButton:active {
  border: 2px inset #444;
  background-color: #333;
}

.wcLayoutGrid, .wcLayoutGrid tr, .wcLayoutGrid td {
  border: 1px solid #555;
}

.wcLayoutGridAlternate tr:nth-child(even), .wcLayoutGridAltColor {
  background-color: rgba(100, 100, 100, 0.2) !important;
}

.wcFrameEdge {
  position: absolute;
  z-index: 2;
  border: 2px solid #222;
  background-color: #111;
}

.wcSplitterBar {
  border: 1px solid #222;
  background-color: #111;
}

.wcPanelTab {
  color: #666;
  background-color: #000;
  border: 1px solid #444;
  border-radius: 2px 2px 0px 0px;
  border-bottom: 2px solid 444;
  margin-right: 1px;
  margin-top: 5px;
  font-size: 15px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
}

.wcPanelTab:hover {
  background-color: #222;
}

.wcPanelTabActive {
  color: #666;
  background-color: #000;
  font-weight: bold;
  margin-top: 1px;
}

.wcPanelTabActive:hover {
  background-color: #222;
}

.wcGhost {
  background-color: #555;
  border-radius: 0px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #000;
}

::-webkit-scrollbar-corner {
  background-color: #111;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.5);
  border-radius: 0px;
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #222;
  border: 2px outset gray;
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.7);
}

.context-menu-list {
  border: 1px solid #444;
}

.context-menu-item {
  background-color: #222;
}

.context-menu-item.hover {
  background-color: #333;
}

.context-menu-item.disabled {
  color: #050505;
}

.context-menu-separator {
  border: 2px solid #222;
  background-color: #333;
}

input {
  color: #777;
  background-color: #222;
}

select {
  color: #777;
  background-color: #222;
}

button {
  color: #777;
  background-color: #222;
}
